body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10em;
}

h2,
p {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(255, 255, 255, 0.507);
  margin-bottom: 1em;
}

.colorBaseDisplay p {
  font-size: 1.6em;
  padding: 0.3em;
}

.heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
}

.colorBaseDisplay {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondSection {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  justify-content: center;
  position: relative;
}

.colorDisplay1,
.colorDisplay2,
.colorDisplay3,
.colorDisplay4 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(104, 86, 86);
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorDisplay1 {
  position: absolute;
  left: 12em;
}

.colorDisplay2 {
  position: absolute;
  left: 25em;
}

.colorDisplay3 {
  position: absolute;
  right: 26em;
}

.colorDisplay4 {
  position: absolute;
  right: 12em;
}

.hidden {
  display: none;
}
