* {
  margin: 0;
  padding: 0;
}

.containerWrapper {
  margin: 3em;
  width: 280px;
  height: 400px;
  padding: 2em;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
h2,
p {
  font-family: "Courier New", Courier, monospace;
}
.heading {
  display: flex;
  justify-content: space-between;
}

.valuesDisplay {
  font-size: 1.2em;
}

.colorDisplay {
  width: 270px;
  height: 270px;
  border-radius: 6px;
}
